Frontend/# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
Frontend/
Frontend/# dependencies
Frontend//node_modules
Frontend//.pnp
Frontend/.pnp.*
Frontend/.yarn/*
Frontend/!.yarn/patches
Frontend/!.yarn/plugins
Frontend/!.yarn/releases
Frontend/!.yarn/versions
Frontend/
Frontend/# testing
Frontend//coverage
Frontend/
Frontend/# next.js
Frontend//.next/
Frontend//out/
Frontend/
Frontend/# production
Frontend//build
Frontend/
Frontend/# misc
Frontend/.DS_Store
Frontend/*.pem
Frontend/
Frontend/# debug
Frontend/npm-debug.log*
Frontend/yarn-debug.log*
Frontend/yarn-error.log*
Frontend/.pnpm-debug.log*
Frontend/
Frontend/# env files (can opt-in for committing if needed)
Frontend/.env*
Frontend/
Frontend/# vercel
Frontend/.vercel
Frontend/
Frontend/# typescript
Frontend/*.tsbuildinfo
Frontend/next-env.d.ts
